{% extends 'learningapp/base_tutor.html' %} {% block content %}
<div class="container-xl pt-3 p-md-3 p-lg-4">
  <div class="" style="height: calc(100vh - 120px)">
    <h1 class="app-page-title">
      {% if form.name.value %} Update {% else %} Create {% endif %} Material
    </h1>

    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form class="settings-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_name" class="form-label">Material Name</label>
            <input
              type="text"
              name="name"
              maxlength="255"
              class="form-control"
              id="id_name"
              value="{{form.name.value}}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="id_description" class="form-label"
              >Material Description</label
            >
            <textarea
              name="description"
              class="form-control"
              rows="10"
              style="min-height: 150px"
              required
              id="id_description"
            >
{{form.description.value}}</textarea
            >
          </div>

          <div class="mb-3">
            <label for="id_document" class="form-label"
              >Material Document</label
            >

            <input
              class="form-control"
              type="file"
              name="document"
              {%
              if
              not
              current_document
              %}
              required
              {%
              endif
              %}
              value="{{form.document.value}}"
              id="id_document"
            />
            {% if form.document.value %}
            <p class="mt-1">
              Current Document:
              <a href="http://127.0.0.1:8000/{{ form.document.value }}" download
                >{{ fakepath }}</a
              >
            </p>
            {% endif %}
          </div>

          <button type="submit" class="btn app-btn-primary w-100">
            {% if form.name.value %} Update {% else %} Create {% endif %}
          </button>
        </form>
      </div>
      <!--//app-card-body-->
    </div>
  </div>
</div>
{% endblock %}
