{% extends 'learningapp/base_tutor.html' %} {% block content %}
<div class="container-xl  pt-3 p-md-3 p-lg-4">
<div style="height: calc(100vh - 120px)">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">Courses</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div
              class="row g-2 justify-content-start justify-content-md-end align-items-center"
            >
              <div class="col-auto">
                <a class="btn app-btn-secondary" href="{% url 'tutor-add-course' %}"> Add course </a>
              </div>
            </div>
            <!--//row-->
          </div>
          <!--//table-utilities-->
        </div>
        <!--//col-auto-->
      </div>
      <!--//row-->

      <div class="tab-content" id="orders-table-tab-content">
        <div
          class="tab-pane fade show active"
          id="orders-all"
          role="tabpanel"
          aria-labelledby="orders-all-tab"
        >
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-left">
                  <thead>
                    <tr>
                      <th class="cell">Course #</th>
                      <th class="cell">Name</th>
                      <th class="cell">Description</th>
                      <th class="cell">Date</th>
                      <th class="cell">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                    <tr>
                      <td class="cell">{{course.id}}</td>

                      <td class="cell">{{course.name}}s</td>
                      <td class="cell">
                        <span class="truncate"
                          >{{course.description}}</span
                        >
                      </td>
                      <td class="cell">
                        <span>{{ course.createdAt }}</span>
                      </td>

                      <td class="cell">
                        <a class="btn-sm app-btn-secondary" href="{% url 'tutor-view-course' course.id %}"">View</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--//table-responsive-->
            </div>
            <!--//app-card-body-->
          </div>
          <!--//app-card-->
        </div>
        <!--//tab-pane-->
      </div>
      <!--//tab-content-->
    </div>
    <!--//container-fluid-->
  </div>
  <!--//app-content-->
</div>
</div>
{% endblock %} 