{% extends 'learningapp/base_tutor.html' %} {% block content %}
<div class="container-xl pt-3 p-md-3 p-lg-4">
  <div class="" style="height: calc(100vh - 120px)">
    <h1 class="app-page-title">Create Course</h1>

    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form class="settings-form" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="id_name" class="form-label">Course Name</label>
            <input
              type="text"
              name="name"
              maxlength="255"
              class="form-control"
              id="id_name"
              value=""
              required
            />
          </div>
          <div class="mb-3">
            <label for="id_description" class="form-label"
              >Course Description</label
            >
            <textarea
              name="description"
              class="form-control"
              rows="10"
              style="min-height: 150px"
              required
              id="id_description"
            ></textarea>
          </div>

          <button type="submit" class="btn app-btn-primary w-100">
            Create
          </button>
        </form>
      </div>
      <!--//app-card-body-->
    </div>
  </div>
</div>
{% endblock %}
