{% extends 'learningapp/base_tutor.html' %} {% block content %}
<div class="container-xl  pt-3 p-md-3 p-lg-4">
<div style="height: calc(100vh - 120px)">
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">Assignment-Grades</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div
              class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <a class="btn app-btn-secondary" href="{% url 'tutor-add-course' %}"> Submit Marks </a>
              </div>
            </div>
            <!--//row-->
          </div>
          <!--//table-utilities-->
        </div>
        <!--//col-auto-->
      </div>
      <!--//row-->

      <div class="tab-content" id="orders-table-tab-content">
        <div
          class="tab-pane fade show active"
          id="orders-all"
          role="tabpanel"
          aria-labelledby="orders-all-tab"
        >
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-left">
                  <thead>
                    <tr>
                        <th class="cell">Assignment Name</th>
                        <th class="cell">Student Name</th>
                        <th class="cell">Total Marks</th>
                        <th class="cell">Document</th>
                        <th class="cell">Marks</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for assignment in data.lstAssignment %}
                    {%  for student in assignment.lstSubData %}
                        <tr>
                            <td class="cell">{{assignment.assign_name}}</td>
                            <td class="cell">{{student.StudentName}}</td>
                            <td class="cell">{{student.TotalMarks}}</td>
                            <td class="cell">
                        <a class="btn-sm app-btn-secondary" href="http://127.0.0.1:8000/{{ material.document }}" download="">Download</a>
                      </td>
                         <td class="cell">     <div style="display: flex; align-items: center;">
                <input
                    type="number"
                    name="marks_{{ student.StudentName }}"
                    value="0"
                    style="width: 60px; text-align: center;"
        >
        <p style="margin: 0 5px;">/{{ student.TotalMarks }}</p>
    </div></td>
                        </tr>
                    {% endfor %}
                  {% endfor %}a
                </table>
              </div>
              <!--//table-responsive-->
            </div>
            <!--//app-card-body-->
          </div>
          <!--//app-card-->
        </div>
        <!--//tab-pane-->
      </div>
      <!--//tab-content-->
    </div>
    <!--//container-fluid-->
  </div>
  <!--//app-content-->
</div>

</div>


</div>
<!-- your_template.html -->
{% endblock %} 