{% extends 'learningapp/base_tutor.html' %} {% block content %}

  <div style=" background:#dcd9ff" class="w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">


          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item" >
                <a class="nav-link active" href="{% url 'view-course-details' course_details.id   %}">Details</a>
                </li>
              <li class="nav-item" >
                <a class="nav-link" href="{% url 'tutor-view-course-material' course_details.id  %}">Material</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'course-assignment' course_details.id  %}">Assignemnts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'student-course-quizzes' course_details.id  %}">Quizzes</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
  </div>
<div class="container-xl pt-3 p-md-3 p-lg-4">
  <div class="" style="height: calc(100vh - 120px)">
    <h1 class="app-page-title">Assignment Submission</h1>

    <div class="app-card app-card-settings shadow-sm p-4">
      <div class="app-card-body">
        <form class="settings-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="app-page-title">{{ assignment.name }}</h1>
                <label for="id_document" class="form-label"> <b>Due Dates:</b> {{ assignment.due_date }} {{ assignment.due_time }}</label>

            </div>

{#          <div class="mb-3">#}
{#            <label for="id_name" class="form-label">Material Name</label>#}
{#            <input#}
{#              type="text"#}
{#              name="name"#}
{#              maxlength="255"#}
{#              class="form-control"#}
{#              id="id_name"#}
{#              value=""#}
{#              required#}
{#            />#}
{#          </div>#}
          <div class="mb-3">
            <label for="id_description" class="form-label"
              >Extra Notes</label>
            <textarea
              name="description"
              class="form-control"
              rows="10"
              style="min-height: 150px"
              required
              id="id_description"
            ></textarea>
          </div>

          <div class="mb-3">
            <label for="id_document" class="form-label"
              >Assignment Document</label
            >
            <input
              class="form-control"
              type="file"
              name="document"
              required
              id="id_document"
            />
          </div>

          <button type="submit" class="btn app-btn-primary w-100">
            Submit
          </button>
        </form>
      </div>
      <!--//app-card-body-->
    </div>
  </div>
</div>
{% endblock %}