{% extends 'learningapp/base_student.html' %} {% block content %}

<div style="background: #b0f7d8" class="w-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              href="{% url 'view-course-details' course_details.id   %}"
              >Details</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              href="{% url 'tutor-view-course-material' course_details.id  %}"
              >Material</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'course-assignment' course_details.id   %}"
              >Assignemnts</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="{% url 'tutor-view-course-quizzes' course_details.id  %}"
              >Quizzes</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="pt-3 p-md-3 p-lg-4" style="height: calc(100vh - 120px)">
  <div class="row g-3 mb-4 align-items-center justify-content-between">
    <div class="col-auto">
      <h1 class="app-page-title mb-0">{{course_details.name}} / Assignemnts</h1>
    </div>
{#    <div class="col-auto">#}
{#      <div class="page-utilities">#}
{#        <div#}
{#          class="row g-2 justify-content-start justify-content-md-end align-items-center"#}
{#        >#}
{#          <div class="col-auto">#}
{#            <a#}
{#              class="btn app-btn-secondary"#}
{#              href="{% url 'tutor-add-course-assignment' course_details.id %}"#}
{#            >#}
{#              Add Assignemnt#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{#        <!--//row-->#}
{#      </div>#}
{#      <!--//table-utilities-->#}
{#    </div>#}
    <!--//col-auto-->
  </div>

  <div class="app-card app-card-orders-table shadow-sm mb-5">
    <div class="app-card-body">
      <div class="table-responsive">
        <table class="table app-table-hover mb-0 text-left">
          <thead>
            <tr>
{#              <th class="cell">Material #</th>#}
              <th class="cell">Name</th>
              <th class="cell">Description</th>
              <th class="cell">Total Grade</th>
                <th class="cell">Due Date</th>
                <th class="cell">Download</th>
                <th class="cell">Submission</th>

            </tr>
          </thead>
          <tbody>
            {% for assignment in course_assignments %}
            <tr>
{#              <td class="cell">{{assignment.id}}</td>#}
              <td class="cell">{{assignment.name}}</td>
              <td class="cell">{{assignment.description|truncatechars:50}}</td>
              <td class="cell">{{assignment.grade}}</td>
              <td class="cell">{{assignment.due_date}}</td>
{#              <td class="cell">{{assignment.grade}}</td>#}
              <td class="cell">
                <a
                  class="btn-sm app-btn-secondary"
                  href="http://127.0.0.1:8000/{{ assignment.document }}"
                  download
                  >Download
                </a>
              </td>

                <td class="cell">
                    {% if assignment.is_submitted %}
                        <strong>Done</strong>
                    {% else %}
                        <a class="btn-sm app-btn-secondary" href="{% url 'assignment-submission' assignment.id %}">
                            Upload
                        </a>
                    {% endif %}
                </td>

            </tr>

            <div id="deleteAssignmentModal{{ assignment.id }}" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Delete Assignemnt</h4>
                  </div>
                  <div class="modal-body text-black">
                    <p>
                      Are you sure want to delete
                      <strong>{{ assignment.name }}</strong> assignment? Please note
                      this cannot be undone.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-info text-white"
                      data-dismiss="modal"
                    >
                      Cancel
                    </button>
                    <form
                      method="post"
                      action="{% url 'tutor-delete-course-assignment' assignment.id %}"
                    >
                      {% csrf_token %}
                      <button
                        type="submit"
                        class="btn btn-danger text-white"
                        style="background: red"
                      >
                        Delete
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            {% endfor %}
          </tbody>
        </table>
      </div>
      <!--//table-responsive-->
    </div>
    <!--//app-card-body-->
  </div>
  <!--//app-card-->
</div>

{% endblock %}
