<!-- {% extends 'learningapp/base.html' %}
{% block title %}Login | My Django App{% endblock %}

{% block content %}
<div class="row">

    <!-- Right side: Full Image -->
    <div class="col-lg-8 col-md-12 p-2">
 
      <img src="https://minimals.cc/assets/illustrations/illustration_dashboard.png" style="height: calc(100vh - 60px);" class="img-fluid d-none d-lg-block" alt="Random Image">
  </div>

  <!-- Left side: Login Form -->
  <div class="col-lg-4 col-md-12 d-flex justify-content-center align-items-center">
    <form class="my-5 w-100" method="post">
      {% csrf_token %}
      <h2 class="h3 mb-3 mb-sm-5">Hey there!<br>Welcome back.</h2>
      <!-- Your login form here -->
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <div  class="mb-3">Don't have an account? <a href="{% url 'register' %}">Sign up here</a></div>
      <div  class="mb-3">  <button type="submit" class="btn btn-primary w-100 text-white">Login</button></div>
      <a href="{% url 'password_reset' %}">Forgot Password?</a>
    </form>
  </div>


    
  </div>
</div>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

</body>
</html> --> -->
