<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="POST" action="">
 {% csrf_token %}
   {{ form.username.label }}
    {{ form.username }} <br>

    {{ form.email.label }}
    {{ form.email }}
    <br>

    {{ form.password1.label }}
    {{ form.password1 }}
<br>
       {{ form.password2.label }}
    {{ form.password2 }}
<br>


    {{ form.user_type.label }}
    {{ form.user_type }}
<br>
    {{ form.memberShip.label }}
    {{ form.memberShip }}

{#    {{ form.as_p }}#}
    <input type="submit" name="create user">
</form>
</body>
</html>